.container-fluid {
    padding-right: 35px;
    padding-left: 35px;
}

 /* Custom row height */
 #example tbody tr {
    height: 20px; /* Adjust the height as per your requirement */
}

 /* Chrome, Safari, Edge, Opera */
 input::-webkit-outer-spin-button,
 input::-webkit-inner-spin-button {
     -webkit-appearance: none;
     margin: 0;
 }

 /* Firefox */
 input[type=number] {
     -moz-appearance: textfield;
 }

 .table-responsive .btn {
    padding: 5px 10px ;
    margin: 10px 3px 10px 0;
    margin-bottom: 20px;
 }

 .button-container {
    display: flex;
}

/* Add some spacing between the buttons (optional) */
.button-container a {
    margin-right: 10px; /* Adjust the value as needed */
}

.custom-card {
    margin-bottom: 20px;
}
